<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div>
  <span>Mi primera app {{title}}</span>
<!--   <app-saludo nombre="Cristian"></app-saludo>
  <app-saludo [nombre]="nombre"></app-saludo> <!-- esta variable viene de app.component.ts -->
 
  <!-- Input para trabajar con NgModel -->
  <input type="text" placeholder="Nombre de usuario " [(ngModel)]="nombre"/>
  <app-saludo [nombre]="nombre" (mensajeEmitHijo)="recibirMensajePadre($event)"></app-saludo> <!-- le indicamos que el valor nombre es una variable -->
  <app-saludo (mensajeEmitHijo)="recibirMensajePadre($event)"></app-saludo>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

